<h1><%= greeting %></h1>
<p id = "pk" ><%= @pankaj %></p>

<br></br>
Username : <input type  = "text" id = "username"></button> 
<br></br>
Password : <input type  = "password" id = "password"></button> 
<br></br>

<a href="/signup">sign up</a>
<a href="/login">login</a>


