<div class="jumbotron">
  <h1>Hello! Sharma ji</h1>
  <p>Welcome in NIQ world We will make you visible and accessible to whole world</p>
<p><a class="btn btn-primary btn-lg" href="/retailers/signin" role="button">Login</a></p>
<p><a class="btn btn-primary btn-lg" href="/retailers/signup" role="button">Signup</a></p>
</div>